body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}
canvas {
  border: 2px solid #fff;
}

@media only screen and (max-width: 600px) {
  canvas {
    width: 80vw; /* Definindo largura relativa para tela de dispositivos móveis */
    height: 80vw; /* Definindo altura relativa para tela de dispositivos móveis */
    max-width: 300px; /* Limitando largura máxima */
    max-height: 300px; /* Limitando altura máxima */
  }
}